# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.dol
*.elf
apps/*/*.dol
apps/*/*.elf

# Build Folder
/build

# Archive
*.zip

# Windows thumbnail cache
Thumbs.db

# Miscellaneous temporary files
#
*.bak
*.diff
*.kate-swp
*.orig
*.patch
*.rej
*.swp
*~
\#*#

# Local third-party library build files
#

# Ignore the local installation directory for GMP
third_party/gmp/build-output/
third_party/gmp/build/

# Ignore the build completion stamp file we will create
third_party/gmp/.build_complete

# Ignore linker map files
*.map
